<form class="Form-Container Login-Form" #resetPasswordForm="ngForm" (ngSubmit)="resetPasswordConfirm()">
    <div class="Form-Container__Title">Сброс пароля</div>
    <div class="Form-Container__Warning" *ngIf="warning" [ngClass]="warning['class']">{{warning["text"]}}</div>
    <div class="Form-Container__Fields-Container">
        <div class="Field">
            <input [name]="'new_password1'" type="password" minlength="8" pattern="\S*\d+\S*" required [placeholder]="'Новый пароль'" [(ngModel)]="resetPasswordConfirmFormGroup.new_password1" #new_password1="ngModel" />
            <span *ngIf="new_password1.errors?.required && new_password1.touched">
                Обязательное поле.
            </span>
            <span *ngIf="new_password1.errors?.minlength && new_password1.touched">
                Пароль должен быть не короче 8 символов.
            </span>
            <span *ngIf="new_password1.errors?.pattern && new_password1.touched">
                Пароль должен включать в себя буквы, цифры и специальные знаки.
            </span>
        </div>
        <div class="Field">
            <input [name]="'new_password2'" type="password" minlength="8" pattern="\S*\d+\S*" required [placeholder]="'Повтор нового пароля'" [(ngModel)]="resetPasswordConfirmFormGroup.new_password2" #new_password2="ngModel" />
            <span *ngIf="new_password2.errors?.required && new_password2.touched">
                Обязательное поле.
            </span>
            <span *ngIf="new_password2.errors?.minlength && new_password2.touched">
                Пароль должен быть не короче 8 символов.
            </span>
            <span *ngIf="new_password2.errors?.pattern && new_password2.touched">
                Пароль должен включать в себя буквы, цифры и специальные знаки.
            </span>
            <span class="register-form__validation_block" *ngIf="new_password1.touched && new_password2.touched && new_password1.value != new_password2.value">Пароли не совпадают.</span>
        </div>
    </div>
    <div class="Form-Container__Links" *ngIf="result">
        <span>Успешно сохранили пароль? <a routerLink="/login">Войти</a></span>
    </div>
    <button class="Form-Container__Button" [disabled]="resetPasswordForm.invalid || new_password1.value != new_password2.value ||isLoading">{{isLoading ? "Загрузка..." : "Сохранить"}}</button>
</form>