<div class="Blackout" *ngIf="navbarIsOpen() && windowWidth <= 1450" (click)="setIsOpen()"></div>
<ul #navbar class="Navbar" [ngClass]="{'Close': navbarIsOpen()}" [ngClass]="{'Close': !navbarIsOpen()}">
    <li class="Navbar__Item">
        <div class="Main-Link Home-Main-Link">
            <a (click)="setIsOpen()" routerLink="/home" [fragment]="'About'" routerLinkActive="active" class="Main-Link__Text">Главная</a>
            <i class="Main-Link__OpenClose-Arrow" (click)="location.pathname.split('/')[1] === 'home' ? undefined : checkLinkIsOpen('home') ? closeLink('home') : openLink('home')" [ngClass]="{'Rotated': checkLinkIsOpen('home') || location.pathname.split('/')[1] === 'home'}">
            </i>
        </div>
        <ul class="Links-Container" *ngIf="checkLinkIsOpen('home') || location.pathname.split('/')[1] === 'home'">
            <li (click)="hash = '#About'" class="Item" [ngClass]="{'active': hash === '#About'}">
                <a [routerLink]="'/home'" [fragment]="'About'" [ngClass]="{'active': hash === '#About'}">
                    О приложении
                </a>
            </li>
            <li (click)="hash = '#Pluses'" class="Item" [ngClass]="{'active': hash === '#Pluses'}">
                <a [routerLink]="'/home'" [fragment]="'Pluses'" [ngClass]="{'active': hash === '#Pluses'}">
                    Плюсы
                </a>
            </li>
            <li (click)="hash = '#Instruction'" class="Item" [ngClass]="{'active': hash === '#Instruction'}">
                <a [routerLink]="'/home'" [fragment]="'Instruction'" [ngClass]="{'active': hash === '#Instruction'}">
                    Инструкция
                </a>
            </li>
        </ul>
    </li>
    <li class="Navbar__Item">
        <div class="Main-Link News-Main-Link">
            <a class="Main-Link__Text" routerLinkActive="active">Новости</a>
            <i class="Main-Link__OpenClose-Arrow" (click)="location.pathname.split('/')[1] === 'news' ? undefined : checkLinkIsOpen('news') ? closeLink('news') : openLink('news')" [ngClass]="{'Rotated': checkLinkIsOpen('news') || location.pathname.split('/')[1] === 'news'}"></i>
        </div>
        <ul class="Links-Container" *ngIf="checkLinkIsOpen('home') || location.pathname.split('/')[1] === 'home'"></ul>
    </li>
    <li class="Navbar__Item">
        <div class="Main-Link Ads-Main-Link">
            <a class="Main-Link__Text" routerLinkActive="active" (click)="setIsOpen()" routerLink="/offers">Предложения</a>
            <i class="Main-Link__OpenClose-Arrow" (click)="location.pathname.split('/')[1] === 'ads' ? undefined : checkLinkIsOpen('ads') ? closeLink('ads') : openLink('ads')" [ngClass]="{'Rotated': checkLinkIsOpen('ads') || location.pathname.split('/')[1] === 'ads'}">
            </i>
        </div>
        <ul class="Links-Container" *ngIf="checkLinkIsOpen('home') || location.pathname.split('/')[1] === 'home'"></ul>
    </li>
    <li class="Navbar__Item">
        <div class="Main-Link Users-Main-Link">
            <a class="Main-Link__Text" routerLinkActive="active" (click)="setIsOpen()" routerLink="/users">Пользователи</a>
            <i class="Main-Link__OpenClose-Arrow" (click)="location.pathname.split('/')[1] === 'chats' ? undefined : checkLinkIsOpen('chats') ? closeLink('chats') : openLink('chats')" [ngClass]="{'Rotated': checkLinkIsOpen('chats') || location.pathname.split('/')[1] === 'chats'}">
            </i>
        </div>
        <ul class="Links-Container" *ngIf="checkLinkIsOpen('home') || location.pathname.split('/')[1] === 'home'"></ul>
    </li>
    <li class="Navbar__Item">
        <div class="Main-Link Chats-Main-Link">
            <a class="Main-Link__Text" routerLinkActive="active" (click)="setIsOpen()" routerLink="/chats">Чаты</a>
            <i class="Main-Link__OpenClose-Arrow" (click)="location.pathname.split('/')[1] === 'chats' ? undefined : checkLinkIsOpen('chats') ? closeLink('chats') : openLink('chats')" [ngClass]="{'Rotated': checkLinkIsOpen('chats') || location.pathname.split('/')[1] === 'chats'}">
            </i>
        </div>
        <ul class="Links-Container" *ngIf="checkLinkIsOpen('home') || location.pathname.split('/')[1] === 'home'"></ul>
    </li>
</ul>
<span class="Hanburger-Container" *ngIf="windowWidth <= 1450">
    <hamburger [isOpen]="navbarIsOpen()" (onchange)="setIsOpen()"></hamburger>
</span>