<main class="Content">
    <div class="About" [id]="'About'">
        <div class="Title">О приложении</div>
        <div class="About__Content">
            <div class="Content__Text">
                Текст...
            </div>
            <div class="Content__Images">Картинки</div>
        </div>
    </div>
    <div class="Pluses" [id]="'Pluses'">
        <div class="Title">Плюсы</div>
        <div class="Pluses__Content">
            <ul class="Pluses__Content__List">
                <li class="Item">Текст 1</li>
                <li class="Item">Текст 2</li>
                <li class="Item">Текст 3</li>
                <li class="Item">Текст 4</li>
            </ul>
        </div>
    </div>
    <div class="Instruction" [id]="'Instruction'">
        <div class="Title">
            Инструкция
        </div>
        <div class="Instruction__Content">
            Текст...
        </div>
    </div>
</main>