<image-slider *ngIf="imageSliderIsOpen" [urls]="imagesForImageSlider" [id]="imageIdForImageSlider" (close)="closeImageSlider()"></image-slider>
<div class="All-Chats Shadow-Right" [ngClass]="{'Close': !chatNavIsOpen}">
    <a [routerLink]="'/chats'" [queryParams]="{id: c.id}" *ngFor="let c of chats" class="Item" (click)="chatNavIsOpen = false">
        <div class="Avatar"><img src="/media/icons/profile.png" alt="" /> </div>
        <div class="Main-Info">
            <div class="Name">{{c.title || getOtherUserInChat(c.id)?.first_name + " " + getOtherUserInChat(c.id)?.last_name}}</div>
            <div class="Status">{{checkUserNotIsBanned(c) ? c.messages[c.messages.length - 1].body : "Вы забанены..."}}</div>
        </div>
    </a>
</div>
<div *ngIf="chat" class="Chat">
    <div class="Chat__Container" *ngIf="chatIsOpen() || (!chatInfoIsOpen && !chatNavIsOpen)">
        <header class="Chat__Header">
            <hamburger [isOpen]="chatNavIsOpen" (onchange)="setChatNavIsOpen()"></hamburger>
            <div class="Information">
                <div class="Chat-Ava"></div>
                <div class="Chat-Main-Info">
                    <div class="Chat-Title" *ngIf="chat.is_group" (click)="setChatInfoIsOpen()">{{getChatTitle()}}</div>
                    <a [routerLink]="'/profile'" [queryParams]="{id: getOtherUserInChat()?.id}" class="Chat-Title" *ngIf="!chat.is_group">{{getChatTitle()}}</a>
                    <div class="Chat-Status">{{writingUsers.length === 0 ? "online" : getWritingUsersString()}}</div>
                </div>
            </div>
        </header>
        <main class="Chat__Body" #chatBody>
            <ng-container *ngIf="checkUserNotIsBanned()">
                <chat-message *ngFor="let m of chat.messages" [message]="m" [userId]="user?.id || -1" style="padding: 0 10px;" (openSlider)="openImageSlider($event)" #chatMessages></chat-message>
            </ng-container>
            <div class="Banned" *ngIf="!checkUserNotIsBanned()">Вы забанены модератором чата.</div>
        </main>
        <form class="Chat__Form" #chatForm="ngForm" (ngSubmit)="sendMessage()">
            <div *ngIf="checkUserNotIsBanned()" class="Chat__Form__Fields-Container">
                <input (ngModelChange)="writingMessage()" name="body" [(ngModel)]="message.body" placeholder="Введите сообщение" />
                <ng-container>
                    <input type="file" #imageUpload accept="image/*" (change)="uploadFile($event, 'img')" style="display: none;" />
                    <input type="file" #fileUpload accept="application/msword, text/plain, application/pdf" (change)="uploadFile($event, 'doc')" style="display: none;" />
                </ng-container>
                <div class="Actions">
                    <button type="button" (click)="imageUpload.click()" class="Upload-Img"><i></i></button>
                    <button type="button" (click)="fileUpload.click()" class="Upload-Doc"><i></i></button>
                </div>
                <button class="Send"><i></i></button>
            </div>
            <div class="Chat__Form__Upload-Files">
                <div class="Item" *ngFor="let i of uploadigFiles">
                    <div class="Icon">
                        <i [class]="i.type === 'img' ? 'Upload-Img' : 'Upload-Doc'"></i>
                    </div>
                    <div class="Name">{{i.name}}</div>
                    <progress-bar [progress]="i.progress" [progressColor]="i.progressColor"></progress-bar>
                    <div class="Progress-Bar-Procents">{{i.progress.toString() + "%"}}</div>
                    <div class="Actions">
                        <button type="button" *ngIf="i.progress < 100" [class]="'Break-Upload'" (click)="breakUpload()"><i></i></button>
                        <button type="button" *ngIf="i.progress === 100" [class]="'Delete-File'" (click)="deleteUploadedFile(i.type, i.id)"><i></i></button>
                    </div>
                </div>
                <div class="Item" *ngFor="let d of message.docs"></div>
            </div>
        </form>
    </div>
    <form class="Chat__Information Shadow-Left" *ngIf="chat.is_group && chatInfoIsOpen" #chatEditForm="ngForm" (ngSubmit)="editChat()">
        <hamburger [isOpen]="true" (onchange)="setChatInfoIsOpen()"></hamburger>
        <div *ngIf="!isEditing" class="Main-Info">
            <div class="Chat-Ava"></div>
            <div class="Chat-Title">{{getChatTitle()}}</div>
            <div class="Chat-Description">{{chat.about || "Описание не написано"}}</div>
        </div>
        <div *ngIf="isEditing" class="Main-Info">
            <div class="Chat-Ava"></div>
            <input name="title" class="Chat-Title" [(ngModel)]="chatForEdit.title" />
            <textarea name="about" class="Chat-Description" [(ngModel)]="chatForEdit.about"></textarea>
        </div>
        <div *ngIf="!isEditing" class="Actions Column">
            <div class="Edit" *ngIf="checkUserCanEditChat()" (click)="startEditing()">Изменить</div>
            <div class="Bad-Chat" *ngIf="!checkUserIsAdmin()">Пожаловаться</div>
            <div class="Signout" *ngIf="!checkUserIsAdmin()" (click)="signoutFromChat()">Выйти из чата</div>
        </div>
        <div *ngIf="isEditing" class="Actions Row">
            <button class="Done" type="submit">Готово</button>
            <span class="Split"></span>
            <button class="Cancel" type="button" (click)="stopEditing()">Отменить</button>
        </div>
        <div *ngIf="!isEditing" class="Users">
            <a [routerLink]="'/profile'" [queryParams]="{id: u.id}" class="Item" *ngFor="let u of chat.users">
                <div class="Avatar"><img src="/media/icons/profile.png" alt="" /> </div>
                <div class="Main-Info">
                    <div class="Name">{{u.id === user?.id ? "Вы" : u.first_name + " " + u.last_name}}</div>
                    <div class="Status">{{u.profile.status || "online"}}</div>
                </div>
                <span class="Chat-Status" *ngIf="checkUserIsAdmin(u.id)">admin</span>
                <span class="Chat-Status" *ngIf="checkUserIsModer(u.id)">moder</span>
            </a>
        </div>
        <div *ngIf="isEditing" class="Users">
            <div class="Item" *ngFor="let u of chat.users">
                <div class="Avatar"><img src="/media/icons/profile.png" alt="" /> </div>
                <div class="Main-Info">
                    <div class="Name">{{u.first_name + " " + u.last_name}}</div>
                </div>
                <ng-container *ngIf="u.id !== user?.id">
                    <select [value]="checkUserIsModer() ? 'moder' : 'user'">
                        <option value="user">Пользователь</option>
                        <option value="moder">Модератор</option>
                    </select>
                    <button (click)="banUser(u.id)" type="button" class="Ban" [ngClass]="{'Is-Banned': checkUserIsBanned(u.id), 'Not-Banned': !checkUserIsBanned(u.id)}"><i></i></button>
                </ng-container>
            </div>
        </div>
    </form>
</div>