@import "src/styles.sass"
@import "src/styles.forms.sass"

=item()
    +flex-container(row, flex-start, center)
    height: 70px
    width: 100%
    border-bottom: #00000050 solid 1px
    padding: 0 10px
    &:hover
        background: #00000007
        cursor: pointer
    &:last-child
        border-bottom: none
    .Avatar
        display: flex
        flex: 0 0 50px
        width: 50px
        height: 50px
        border-radius: 100%
        margin-right: 10px
        img
            width: 100%
            height: 100%
    .Main-Info
        +flex-container(column, center, flex-start)
        width: 100%
        margin: 0
        background: #00000000
        .Name
            color: #000
            font-size: 18px
            text-decoration: none
        .Status
            color: #000
            font-size: 14px
:host
    padding: 0 10px
.Chat
    +flex-container(row)
    height: 100%
    width: 100%
    padding: 0
    .Chat__Container
        +flex-container()
        width: 100%
        height: 100%
        .Chat__Header
            +flex-container(row, center, center)
            width: 100%
            flex: 0 0 70px
            border-bottom: #00000050 solid 2px
            padding: 0 15px
            .Information
                +flex-container(row, center, center)
                height: 100%
                width: 100%
                .Chat-Ava
                    img
                        width: 50px
                        height: 50px
                        border-radius: 100%
                    width: 50px
                    height: 50px
                    border-radius: 100%
                .Chat-Main-Info
                    +flex-container(column, center)
                    height: 100%
                    font-weight: 550
                    margin-left: 6px
                    .Chat-Title
                        color: var(--blue)
                        font-size: 18px
                        margin-bottom: 5px
                        cursor: pointer
                        text-decoration: none
                        &:hover
                            text-decoration: underline
                    .Chat-Status
                        color: #00000070
                        font-size: 11px
        .Chat__Body
            +flex-container(column, center, center)
            height: 100%
            width: 100%
            overflow: auto
            .Banned
                font-size: 26px
                color: rgba(0,0,0,0.90)
            chat-message
                +flex-container(row)
                width: 100%
                margin-top: 15px
        .Chat__Form
            +flex-container(column)
            flex: 0 0 auto
            width: 100%
            padding: 10px
            border-top: #00000050 solid 2px
            .Chat__Form__Fields-Container
                +flex-container(row, flex-start, center)
                width: 100%
                height: 100%
                input,
                textarea
                    width: 100%
                    font-size: 16px
                    padding: 10px 15px
                    border: #00000050 solid 1px
                    border-radius: 10px
                    margin-right: 10px
                    resize: none
                    &:focus
                        border-color: var(--lite-blue)
                button
                    display: flex
                    flex: 0 0 40px
                    +manage-button(40px, 40px)
                    &.Send
                        i
                            font-size: 30px
                            content: url("/media/icons/send-message.svg")
                .Actions
                    +flex-container(row)
                    flex: 0 0 auto
                    width: auto
                    height: 40px
                    margin: 0 5px
                    button
                        margin: 0 5px
                        &.Upload-Img
                            i
                                font-size: 30px
                                content: url("/media/icons/image-upload.svg")
                        &.Upload-Doc
                            i
                                font-size: 30px
                                content: url("/media/icons/file-upload.svg")

    .Chat__Information
        hamburger
            position: absolute
        transition: width .2s, flex .2s, transform .2s
        &.Close
            transform: scaleX(0)
            width: 0
            flex: 0 0 0
        .Main-Info,
        .Actions,
        .Users
            background: #fff
            margin-bottom: 20px
            width: 100%
            transition: opacity .2s, z-index .2s, width .2s
        .Main-Info
            +flex-container(column, flex-start, center)
            .Chat-Ava
                width: 200px
                height: 200px
                border-radius: 100%
                margin: 10px 0
                img
                    width: 200px
                    height: 200px
            .Chat-Title
                color: var(--blue)
                font-size: 28px
                margin: 10px 0
            .Chat-Description
                padding: 10px
                width: 100%
                font-size: 16px
            .Chat-Title-Edit,
            .Chat-Description-Edit
                +field()
                font-size: 16px
            .Chat-Title-Edit
                font-size: 28px

        .Actions
            .Edit,
            .Bad-Chat,
            .Signout,
            .Done,
            .Cancel,
            .Send-Invite
                +flex-container(row, flex-start, center)
                color: var(--blue)
                font-size: 20px
                padding: 10px 15px
                width: 100%
                outline: none
                border: none
                background: #fff
                &::before
                    font-size: 28px
                    width: 28px
                    height: 28px
                    margin-right: 10px
                &:hover
                    background: #00000007
                    cursor: pointer
            .Edit::before
                content: url("/media/icons/edit-alt.svg")
            .Bad-Chat::before
                content: url("/media/icons/comment-exclamation.svg")
            .Signout::before
                content: url("/media/icons/sign-out-alt.svg")
            .Done::before
                content: url("/media/icons/check-circle.svg")
            .Cancel::before
                content: url("/media/icons/times-circle.svg")
            .Send-Invite::before
                content: url("/media/icons/user-plus.svg")
            .Split
                flex: 0 0 2px
                height: 100%
                background: var(--blue)
        .Users
            +flex-container()
            .Item
                +item()
                .Chat-Status
                    height: 100%
                    color: var(--red)
                    font-size: 12px
                    padding: 5px 10px
                .Ban
                    +flex-container(row)
                    flex: 0 0 30px
                    padding: 5px
                    +manage-button(30px, 30px)
                    &.Not-Banned
                        i
                            content: url("/media/icons/unlock-alt.svg")
                    &.Is-Banned
                        i
                            content: url("/media/icons/padlock.svg")
                    i
                        font-size: 20px
                        width: 20px
                        height: 20px
.All-Chats,
.Chat__Information
    +flex-container(column)
    height: 100%
    @media screen and ( min-width: 1083px )
        width: 400px
        flex: 0 0 400px
    @media screen and ( max-width: 1083px )
        width: 100%
        flex: 0 0 auto
    background: var(--bg-lite-blue)

.All-Chats
    height: 100%
    max-height: 100%
    overflow: auto
    color: #000
    transform-origin: left
    transition: flex .2s, transform .2s
    &.Close
        transform: scaleX(0)
        flex: 0 0 0
    .Item
        +item()
        width: 100%
        transition: opacity .2s, z-index .2s

.Shadow-Right
    border-radius: 5px
    @media screen and ( min-width: 1083px )
        border-radius: 5px 0 0 5px
        border-right: #b9b9b9 solid 2px

.Shadow-Left
    border-radius: 5px
    @media screen and ( min-width: 1083px )
        border-radius: 0 5px 5px 0
        border-left: #b9b9b9 solid 2px
    
.Add-Chat
    +flex-container(row, center, center)
    width: 70px
    height: 70px
    background: #fff
    border-radius: 100%
    position: absolute
    bottom: 15px
    outline: none
    border: none
    box-shadow: #00000088 0 0 2px 0
    cursor: pointer
    transition: all .1s
    &:hover:not(:focus)
        box-shadow: #000000aa 0 2px 8px 0
        transform: translateY(-5px)
    &::before
        font-size: 40px
        width: 40px
        height: 40px
        flex: 0 0 40px
        content: url('/media/icons/comment-plus.svg')