@import "src/styles.sass"
@import "src/styles.forms.sass"

=item()
    +flex-container(row, flex-start, center)
    height: 70px
    width: 100%
    border-bottom: #00000050 solid 1px
    padding: 0 10px
    &:hover
        background: #00000007
        cursor: pointer
    &:last-child
        border-bottom: none
    .Avatar
        display: flex
        flex: 0 0 50px
        width: 50px
        height: 50px
        border-radius: 100%
        margin-right: 10px
        img
            width: 100%
            height: 100%
    .Main-Info
        +flex-container(column, center, flex-start)
        width: 100%
        margin: 0
        background: #00000000
        .Name
            color: #000
            font-size: 18px
            text-decoration: none
        .Status
            color: #000
            font-size: 14px

.Chat
    +flex-container(row)
    height: 100%
    width: 100%
    .Chat__Container
        +flex-container()
        width: 100%
        height: 100%
        .Chat__Header
            +flex-container(row, center, center)
            width: 100%
            flex: 0 0 70px
            border-bottom: #00000050 solid 2px
            .Information
                +flex-container(row, center, center)
                height: 100%
                .Chat-Ava
                    width: 50px
                    height: 50px
                    border-radius: 100%
                    border: #000 solid 1px
                .Chat-Main-Info
                    +flex-container(column, center)
                    height: 100%
                    font-weight: 550
                    margin-left: 6px
                    .Chat-Title
                        color: var(--blue)
                        font-size: 18px
                        margin-bottom: 5px
                        cursor: pointer
                        text-decoration: none
                        &:hover
                            text-decoration: underline
                    .Chat-Status
                        color: #00000070
                        font-size: 11px
        .Chat__Body
            +flex-container()
            height: 100%
            width: 100%
            overflow: auto
            chat-message
                +flex-container(row)
                width: 100%
                margin-top: 15px
        .Chat__Form
            +flex-container(column)
            flex: 0 0 auto
            width: 100%
            padding: 10px
            border-top: #00000050 solid 2px
            .Chat__Form__Fields-Container
                +flex-container(row, flex-start, center)
                width: 100%
                height: 100%
                input
                    width: 100%
                    font-size: 16px
                    padding: 12px 15px
                    border: #00000050 solid 1px
                    border-radius: 10px
                    margin-right: 10px
                    &:focus
                        border-color: var(--lite-blue)
                button
                    display: flex
                    flex: 0 0 40px
                    +manage-button(40px, 40px)
                    &.Send
                        i
                            font-size: 30px
                            content: url("/media/icons/send-message.svg")
                .Actions
                    +flex-container(row)
                    flex: 0 0 170px
                    width: 120px
                    height: 40px
                    button
                        margin: 0 5px
                        &.Upload-Img
                            i
                                font-size: 30px
                                content: url("/media/icons/image-upload.svg")
                        &.Upload-Doc
                            i
                                font-size: 30px
                                content: url("/media/icons/file-upload.svg")
            .Chat__Form__Upload-Files
                +flex-container()
                width: 100%
                height: auto
                .Item
                    +flex-container(row, flex-start, center)
                    width: 100%
                    height: auto
                    padding: 10px
                    border-top: var(--blue) solid 1px
                    .Icon
                        +flex-container(row)
                        flex: 0 0 50px
                        height: 50px
                        width: 50px
                        padding: 10px
                        border-radius: 100%
                        background: var(--blue)
                        i
                            font-size: 30px
                        .Upload-Doc
                            content: url("/media/icons/file-upload-white.svg")
                        .Upload-Img
                            content: url("/media/icons/image-upload-white.svg")
                    .Name
                        width: auto
                        height: auto
                        margin: 0 10px
                    .Actions
                        +flex-container(row)
                        .Break-Upload,
                        .Delete-File
                            +manage-button(40px, 40px)
                            i
                                font-size: 30px
                        .Break-Upload
                            i
                                content: url("/media/icons/red-times-circle.svg")
                        .Delete-File
                            i
                                content: url("/media/icons/trash-alt.svg")

    .Chat__Information
        .Main-Info,
        .Actions,
        .Users
            background: #fff
            margin-bottom: 20px
            width: 100%
        .Main-Info
            +flex-container(column, flex-start, center)
            input,
            textarea
                +field()
            textarea
                resize: vertical
                min-height: 100px
                max-height: 300px
            .Chat-Ava
                width: 200px
                height: 200px
                border-radius: 100%
                border: #000000 solid 1px
                margin: 10px 0
            .Chat-Title
                color: var(--blue)
                font-size: 28px
                margin: 10px 0
            .Chat-Description
                padding: 10px
                width: 100%
                font-size: 16px
        .Actions
            .Edit,
            .Bad-Chat,
            .Signout,
            .Done,
            .Cancel
                +flex-container(row, flex-start, center)
                color: var(--blue)
                font-size: 20px
                padding: 10px 15px
                width: 100%
                outline: none
                border: none
                background: #fff
                &::before
                    font-size: 28px
                    width: 28px
                    height: 28px
                    margin-right: 10px
                &:hover
                    background: #00000007
                    cursor: pointer
            .Edit::before
                content: url("/media/icons/edit-alt.svg")
            .Bad-Chat::before
                content: url("/media/icons/comment-exclamation.svg")
            .Signout::before
                content: url("/media/icons/sign-out-alt.svg")
            .Done::before
                content: url("/media/icons/check-circle.svg")
            .Cancel::before
                content: url("/media/icons/times-circle.svg")
            .Split
                flex: 0 0 2px
                height: 100%
                background: var(--blue)
        .Users
            +flex-container()
            .Item
                +item()
                .Chat-Status
                    height: 100%
                    color: var(--red)
                    font-size: 12px
                    padding: 5px 10px
                .Ban
                    +flex-container(row)
                    flex: 0 0 30px
                    padding: 5px
                    +manage-button(30px, 30px)
                    &.Not-Banned
                        i
                            content: url("/media/icons/unlock-alt.svg")
                    &.Is-Banned
                        i
                            content: url("/media/icons/padlock.svg")
                    i
                        font-size: 20px
                        width: 20px
                        height: 20px
                            
                    

.Shadow-Left
    box-shadow: #00000025 -4px 0 8px 0
.Shadow-Right
    box-shadow: #00000025 4px 0 8px 0
.All-Chats,
.Chat__Information
    +flex-container(column)
    height: 100%
    flex: 0 0 400px
    background: var(--bg-lite-blue)

.All-Chats
    flex: 0 0 300px
    color: #000
    .Item
        +item()
        width: 100%