<img src="/media/logo.png" alt="" />
<form class="Form-Container Login-Form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <account-nav style="width: 100%;"></account-nav>
    <div class="Form-Container__Title">Авторизация</div>
    <div class="Form-Container__Warning" *ngIf="warning">{{warning}}</div>
    <div class="Form-Container__Fields-Container">
        <div class="Field">
            <input [name]="'username'" required [placeholder]="'Ник'" [(ngModel)]="loginFormGroup.username" #username="ngModel" />
            <span *ngIf="username.invalid && username.touched">
                Не указан ник.
            </span>
        </div>
        <div class="Field">
            <input [name]="'password'" required [placeholder]="'Пароль'" [type]="'password'" [(ngModel)]="loginFormGroup.password" #password="ngModel" />
            <span *ngIf="password.invalid && password.touched">
                Не указан пароль.
            </span>
        </div>
    </div>
    <div class="Form-Container__Links">
        <span>Забыли пароль? <a routerLink="/reset-password">Сбросить</a></span>
    </div>
    <button class="Form-Container__Button" [disabled]="loginForm.invalid">{{isLoading ? "Загрузка..." : "Войти"}}</button>
</form>