<svg xmlns="http://www.w3.org/2000/svg" [attr.width]="size + strokeWidth" [attr.height]="size + strokeWidth">
  <circle class="double-circle-spinner" [attr.r]='r' [attr.cx]='r + strokeWidth' [attr.cy]='r + strokeWidth'
    fill='none' stroke='blue' [attr.stroke-width]='strokeWidth' stroke-linecap='round'
    stroke-dasharray='30 130' stroke-dashoffset='40' />
  <circle [attr.r]='r' [attr.cx]='r + strokeWidth' [attr.cy]='r + strokeWidth' fill='none' stroke='#00000015' [attr.stroke-width]='strokeWidth' />
</svg>
