<form class="Form-Container Dialog" [class]="windowClass" #createOfferForm="ngForm" (ngSubmit)="action === 'edit' ? updateOffer(createOfferForm) : createOffer()">
    <div class="Header">
        <div class="Title">{{windowTitle}}</div>
        <button class="Close" type="button" (click)="close()">&times;</button>
    </div>
    <div class="Form-Container__Warning" *ngIf="warning">{{warning}}</div>
    <div class="Form-Container__Fields-Container">
        <div class="Field">
            <select [name]="'define_type_of_request'" required [(ngModel)]="offer.define_type_of_request" #define_type_of_request="ngModel">
                <option value="offers">Предложение помощи</option>
                <option value="requsts">Запрос помощи</option>
            </select>
        </div>
        <div class="Field">
            <input [name]="'title'" required [placeholder]="'Заголовок'" [(ngModel)]="offer.title" #title="ngModel" max_length="64" />
            <span *ngIf="title.errors?.required && title.touched">
                Обязательное поле.
            </span>
            <span *ngIf="title.errors?.max_length && title.touched">
                Максимальная длина - 64 символа.
            </span>
        </div>
        <div class="Field">
            <textarea [name]="'about'" required [placeholder]="'О предложении'" [(ngModel)]="offer.about" #about="ngModel" max_length="1024"></textarea>
            <span *ngIf="about.errors?.required && about.touched">
                Обязательное поле.
            </span>
            <span *ngIf="about.errors?.max_length && about.touched">
                Максимальная длина - 1024 символа.
            </span>
        </div>
        <div class="Field">
            <textarea [name]="'back'" required [placeholder]="'Что вы хотите взамен'" [(ngModel)]="offer.back" #back="ngModel" max_length="1024"></textarea>
            <span *ngIf="back.errors?.required && back.touched">
                Обязательное поле.
            </span>
            <span *ngIf="back.errors?.max_length && back.touched">
                Максимальная длина - 1024 символа.
            </span>
        </div>
        <div class="Field">
            <select [name]="'subject'" [ngClass]="{'ng-invalid': subject.invalid || subject.value < 0}" [(ngModel)]="offer.subject.id" #subject="ngModel">
                <option value="-1" disabled selected>Предмет</option>
                <option *ngFor="let i of subjects" [ngValue]="i.id">{{i.name}}</option>
            </select>
            <span *ngIf="subject.touched && subject.value < 0">
                Выберете предмет.
            </span>
        </div>
        <div class="Field" *ngIf="action === 'create'" style="flex-direction: row;">
            <input name="create_group_chat" id="create_group_chat" type="checkbox" [(ngModel)]="offer.create_group_chat" #createGroupChat="ngModel" />
            <label for="create_group_chat">Создать группу</label>
        </div>
    </div>
    <button class="Form-Container__Button" [disabled]="createOfferForm.invalid || subject.value < 0 || isLoading">{{isLoading ? "Загрузка..." : action === "edit" ? "Отредактировать" : "Создать"}}</button>
</form>