<crop-image *ngIf="uploadImageIsOpen" (onsubmit)="setPhoto($event)" (onclose)="uploadImageIsOpen = false"></crop-image>
<report *ngIf="this.user && reportIsOpen" [who]="this.user.id" (onclose)="reportIsOpen = false"></report>
<div class="Profile" *ngIf="user">
    <!-- User card -->
    <div class="Profile__Card Container">
        <div class="Tools">
            <span class="Item">
                <a class="Edit-Btn" routerLink="/profile" [queryParams]="{id, tab: 'edit'}"></a>
            </span>
            <span class="Item" *ngIf="!checkUser()">
                <button type="button" class="Chat-Btn" (click)="goToChat()"></button>
                <button type="button" class="Report-Btn" (click)="reportIsOpen = true"></button>
            </span>
        </div>
        <div class="Info">
            <div class="Info__Photo" (click)="checkUser() ? uploadImageIsOpen = true : navigateToPhoto()" [style.cursor]="'pointer'"><img [src]="user.photo || '/media/icons/profile.png'" alt="" /> </div>
            <div class="Info__Title">
                <div class="Online">{{user.onlineDate|dateAgo}}</div>
                <div class="Username">{{user.fullName}}</div>
                <div class="Status">{{checkUserInSchoolStatus(user.user_in_school_status) || "Статус не указан"}}</div>
            </div>
        </div>
    </div>
    <div class="Profile-Container">
        <div class="Profile-Navigation Container">
            <a class="Profile-Navigation__Item" [routerLink]="'/profile'" [queryParams]="{id}" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="Active">Основное</a>
            <a class="Profile-Navigation__Item" [routerLink]="'/profile'" [queryParams]="{id, tab: 'contacts'}" routerLinkActive="Active">Контакты</a>
            <a class="Profile-Navigation__Item" [routerLink]="'/profile'" [queryParams]="{id, tab: 'offers'}" routerLinkActive="Active">Предложения</a>
        </div>
        <!-- General information -->
        <div *ngIf="tab === ''" class="Profile-Container Container">
            <div class="Title">Основное</div>
            <div class="Content">
                <div class="Item">
                    <div class="Key">Имя:</div>
                    <div class="Description">{{user.firstName}}</div>
                </div>
                <div class="Item">
                    <div class="Key">Фамилия:</div>
                    <div class="Description">{{user.lastName}}</div>
                </div>
                <div class="Item">
                    <div class="Key">Отчество:</div>
                    <div class="Description">{{user.patronymic || "Отчество не указано."}}</div>
                </div>
                <div class="Item">
                    <div class="Key">Возраст:</div>
                    <div class="Description">{{user.age + " лет"}}</div>
                </div>
                <div class="Item">
                    <div class="Key">Страна:</div>
                    <div class="Description">{{user?.country || "Страна не указана."}}</div>
                </div>
                <div class="Item">
                    <div class="Key">Город:</div>
                    <div class="Description">{{user?.city || "Город не указан."}}</div>
                </div>
                <div class="Item">
                    <div class="Key">Улица:</div>
                    <div class="Description">{{user?.district || "Улица не указана."}}</div>
                </div>
                <div class="Item">
                    <div class="Key">О себе:</div>
                    <div class="Description">{{user?.about_me || "О себе не написано."}}</div>
                </div>
            </div>
        </div>
        <!-- User contacts -->
        <div *ngIf="tab === 'contacts'" class="Profile-Container Container">
            <div class="Title">Контакты</div>
            <div class="Content">
                <div class="Item">
                    <div class="Key">Email:</div>
                    <div class="Description">{{user.email}}</div>
                </div>
                <div class="Item">
                    <div class="Key">Телефон:</div>
                    <div class="Description">{{user?.phone || "Телефон не указан."}}</div>
                </div>
                <div class="Item">
                    <div class="Key">Соц. сети:</div>
                    <div class="Description">{{user?.social_networkws || "Соц. сети не указаны."}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="tab === 'offers'" class="Profile-Container Container" style="padding: 0px;">
            <div class="Title">Предложения</div>
            <div class="Content">
                <offers *ngIf="offers" [offers]="offers" [isframe]="true"></offers>
            </div>
        </div>
        <div *ngIf="tab === 'edit'" class="Profile-Container">
            <div class="Title">Редактирование профиля</div>
            <form class="Form-Container Content Edit-Content" #editProfileForm="ngForm" (ngSubmit)="!editProfileForm.invalid && endEdit(true)">
                <div class="Form-Container__Fields-Container">
                    <div class="Item">
                        <label>Имя:</label>
                        <div class="Field">
                            <input name="firstName" required maxlength="64" [(ngModel)]="user.firstName" #firstName="ngModel" />
                            <span *ngIf="firstName.errors?.required">Обязательное поле.</span>
                        </div>
                    </div>
                    <div class="Item">
                        <label>Фамилия:</label>
                        <div class="Field">
                            <input name="lastName" required maxlength="64" [(ngModel)]="user.lastName" #lastName="ngModel" />
                            <span *ngIf="lastName.errors?.required">Обязательное поле.</span>
                        </div>
                    </div>
                    <div class="Item">
                        <label>Отчество:</label>
                        <div class="Field">
                            <input name="patronymic" required maxlength="64" [(ngModel)]="user.patronymic" #patronymic="ngModel" />
                            <span *ngIf="patronymic.errors?.required">Обязательное поле.</span>
                        </div>
                    </div>
                    <div class="Item">
                        <label>Возраст:</label>
                        <div class="Field">
                            <input name="age" required type="number" [(ngModel)]="user.age" #age="ngModel" max="128" />
                            <span *ngIf="age.errors?.required">Обязательное поле.</span>
                        </div>
                    </div>
                    <div class="Item">
                        <label>Страна:</label>
                        <div class="Field">
                            <input name="country" [(ngModel)]="user.country" #country="ngModel" maxlength="128" />
                            <span *ngIf="country.errors?.maxlength">Максимальная длина - 128 символов.</span>
                        </div>
                    </div>
                    <div class="Item">
                        <label>Город:</label>
                        <div class="Field">
                            <input name="city" maxlength="64" [(ngModel)]="user.city" #city="ngModel" maxlength="128" />
                            <span *ngIf="city.errors?.maxlength">Максимальная длина - 128 символов.</span>
                        </div>
                    </div>
                    <div class="Item">
                        <label>Улица:</label>
                        <div class="Field">
                            <input name="district" maxlength="64" [(ngModel)]="user.district" #district="ngModel" maxlength="128" />
                            <span *ngIf="district.errors?.maxlength">Максимальная длина - 128 символов.</span>
                        </div>
                    </div>
                    <div class="Item">
                        <label>О себе:</label>
                        <div class="Field">
                            <textarea name="about_me" maxlength="2048" [(ngModel)]="user.about_me" #about_me="ngModel"></textarea>
                            <span *ngIf="about_me.errors?.maxlength && about_me.touched">Максимальная длина - 2048 символов.</span>
                        </div>
                    </div>
                    <div class="Item">
                        <label>Email:</label>
                        <div class="Field">
                            <input name="email" required maxlength="64" [(ngModel)]="user.email" #email="ngModel" />
                            <span *ngIf="email.errors?.required">Обязательное поле.</span>
                        </div>
                    </div>
                    <div class="Item">
                        <label>Телефон:</label>
                        <div class="Field">
                            <input name="phone" required maxlength="16" [(ngModel)]="user.phone" #phone="ngModel" />
                            <span *ngIf="phone.errors?.required">Обязательное поле.</span>
                        </div>
                    </div>
                    <div class="Item">
                        <label>Соц. сети:</label>
                        <div class="Field">
                            <textarea name="social_networkws" [(ngModel)]="user.social_networkws" #socialNetworks="ngModel"></textarea>
                        </div>
                    </div>
                </div>
                <button class="Button">Сохранить</button>
            </form>
        </div>
    </div>
</div>
