<crop-image *ngIf="uploadImageIsOpen" (onsubmit)="setPhoto($event)" (onclose)="uploadImageIsOpen = false"></crop-image>
<report *ngIf="this.user && reportIsOpen" [who]="this.user.id" (onclose)="reportIsOpen = false"></report>
<form class="Profile" *ngIf="user" #editProfileForm="ngForm" (ngSubmit)="!editProfileForm.invalid && endEdit(true)">
    <div class="Profile__Tools-Nav Container">
        <span class="Item" *ngIf="checkUser()">
            <button type="button" class="Edit-Btn" *ngIf="!isEditing" (click)="startEdit()"></button>
            <button type="submit" class="Ok-Edit-Btn" *ngIf="isEditing" [disabled]="editProfileForm.invalid"></button>
            <button type="button" class="Not-Edit-Btn" *ngIf="isEditing" (click)="endEdit(false)"></button>
        </span>
        <span class="Item" *ngIf="!checkUser()">
            <button type="button" class="Chat-Btn" (click)="goToChat()"></button>
            <button type="button" class="Report-Btn" (click)="reportIsOpen = true"></button>
        </span>
    </div>
    <main class="Profile__Content">
        <div class="Profile__Content__Status-User-Information Container">
            <div class="Item-1">
                <div class="Avatar" (click)="checkUser() ? uploadImageIsOpen = true : navigateToPhoto()" [style.cursor]="'pointer'"><img [src]="user.photo || '/media/icons/profile.png'" alt="" /> </div>
                <div class="Username-Status">
                    <div class="Username">{{user.fullName}}</div>
                    <div *ngIf="!isEditing" class="Status">{{checkUserInSchoolStatus(user.user_in_school_status) || "Статус не указан"}}</div>
                </div>
            </div>
            <div class="Item-2">
                <div class="Online-Status">{{user.onlineDate|dateAgo}}</div>
            </div>
        </div>
        <div class="Profile__Content__Main-User-Information Container">
            <div class="Title">Основное</div>
            <div class="Content">
                <div class="Item">
                    <div class="Key">Имя:</div>
                    <div class="Description" *ngIf="!isEditing">{{user.firstName}}</div>
                    <div class="Field" *ngIf="isEditing && checkUser()">
                        <input name="firstName" required maxlength="64" class="Edit-Description" [(ngModel)]="user.firstName" #firstName="ngModel" />
                        <span class="Validator" *ngIf="firstName.errors?.required">Обязательное поле.</span>
                    </div>
                </div>
                <div class="Item">
                    <div class="Key">Фамилия:</div>
                    <div class="Description" *ngIf="!isEditing">{{user.lastName}}</div>
                    <div class="Field" *ngIf="isEditing && checkUser()">
                        <input name="lastName" required maxlength="64" class="Edit-Description" [(ngModel)]="user.lastName" #lastName="ngModel" />
                        <span class="Validator" *ngIf="lastName.errors?.required">Обязательное поле.</span>
                    </div>
                </div>
                <div class="Item">
                    <div class="Key">Отчество:</div>
                    <div class="Description" *ngIf="!isEditing">{{user.patronymic || "Отчество не указано."}}</div>
                    <div class="Field" *ngIf="isEditing && checkUser()">
                        <input name="patronymic" required maxlength="64" class="Edit-Description" [(ngModel)]="user.patronymic" #patronymic="ngModel" />
                        <span class="Validator" *ngIf="patronymic.errors?.required">Обязательное поле.</span>
                    </div>
                </div>
                <div class="Item">
                    <div class="Key">Возраст:</div>
                    <div class="Description" *ngIf="!isEditing">{{user.age + " лет"}}</div>
                    <div class="Field" *ngIf="isEditing && checkUser()">
                        <input name="age" required type="number" class="Edit-Description" [(ngModel)]="user.age" #age="ngModel" max="128" />
                        <span class="Validator" *ngIf="age.errors?.required">Обязательное поле.</span>
                    </div>
                </div>
                <div class="Item">
                    <div class="Key">Страна:</div>
                    <div class="Description" *ngIf="!isEditing">{{user?.country || "Страна не указана."}}</div>
                    <div class="Field" *ngIf="isEditing && checkUser()">
                        <input name="country" class="Edit-Description" [(ngModel)]="user.country" #country="ngModel" maxlength="128" />
                        <span class="Validator" *ngIf="country.errors?.maxlength">Максимальная длина - 128 символов.</span>
                    </div>
                </div>
                <div class="Item">
                    <div class="Key">Город:</div>
                    <div class="Description" *ngIf="!isEditing">{{user?.city || "Город не указан."}}</div>
                    <div class="Field" *ngIf="isEditing && checkUser()">
                        <input name="city" maxlength="64" class="Edit-Description" [(ngModel)]="user.city" #city="ngModel" maxlength="128" />
                        <span class="Validator" *ngIf="city.errors?.maxlength">Максимальная длина - 128 символов.</span>
                    </div>
                </div>
                <div class="Item">
                    <div class="Key">Улица:</div>
                    <div class="Description" *ngIf="!isEditing">{{user?.district || "Улица не указана."}}</div>
                    <div class="Field" *ngIf="isEditing && checkUser()">
                        <input name="district" maxlength="64" class="Edit-Description" [(ngModel)]="user.district" #district="ngModel" maxlength="128" />
                        <span class="Validator" *ngIf="district.errors?.maxlength">Максимальная длина - 128 символов.</span>
                    </div>
                </div>
                <div class="Item">
                    <div class="Key">О себе:</div>
                    <div class="Description" *ngIf="!isEditing">{{user?.about_me || "О себе не написано."}}</div>
                    <div class="Field" *ngIf="isEditing && checkUser()">
                        <textarea name="about_me" maxlength="2048" class="Edit-Description" [(ngModel)]="user.about_me" #about_me="ngModel"></textarea>
                        <span class="Validator" *ngIf="about_me.errors?.maxlength && about_me.touched">Максимальная длина - 2048 символов.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="Profile__Content__Contacts-User-Information Container">
            <div class="Title">Контакты</div>
            <div class="Content">
                <div class="Item">
                    <div class="Key">Email:</div>
                    <div class="Description" *ngIf="!isEditing">{{user.email}}</div>
                    <div class="Field" *ngIf="isEditing && checkUser()">
                        <input name="email" required maxlength="64" class="Edit-Description" [(ngModel)]="user.email" #email="ngModel" />
                        <span class="Validator" *ngIf="email.errors?.required">Обязательное поле.</span>
                    </div>
                </div>
                <div class="Item">
                    <div class="Key">Телефон:</div>
                    <div class="Description" *ngIf="!isEditing">{{user?.phone || "Телефон не указан."}}</div>
                    <div class="Field" *ngIf="isEditing && checkUser()">
                        <input name="phone" required maxlength="16" class="Edit-Description" [(ngModel)]="user.phone" #phone="ngModel" />
                        <span class="Validator" *ngIf="phone.errors?.required">Обязательное поле.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="Profile__Content__Projects-User-Information"></div>
        <div class="Profile__Content__Password-Change"></div>
    </main>
</form>