<div class="Message-Container" *ngIf="message" [style.justifyContent]="checkMessageIsFromUser() ? 'flex-end' : 'flex-start'">
    <span class="Message-Is-Read" *ngIf="!checkUserIsReadMessage() && checkMessageIsFromUser()"></span>
    <div class="Message__Ava"></div>
    <div class="Message" [ngClass]="{'not-from-user': !checkMessageIsFromUser()}">
        <div class="Message__Images" *ngFor="let i of message.imgs">
            <div class="Item" [style.backgroundImage]="'url(' + i.file + ')'" (click)="openImagesSlider(message.imgs.indexOf(i))"></div>
        </div>
        <div class="Message__Body">{{message.body}}</div>
        <div class="Message__Docs" *ngIf="message.docs.length > 0">
            <a [href]="i.file" class="Item" *ngFor="let i of message.docs">
                <div class="Icon"><i></i></div>
                <div class="Name">{{i.name ? spliceFileURL(i.name) : spliceFileURL(i.file)}}</div>
            </a>
        </div>
        <div class="Message__Date">{{message.date | date : "dd.MM.y HH:mm" : "UTC-3"}}</div>
    </div>
</div>