<img src="/media/logo.png" alt="" />
<form class="Form-Container Login-Form" #resetPasswordForm="ngForm" (ngSubmit)="resetPassword()">
    <div class="Form-Container__Title">Сброс пароля</div>
    <div class="Form-Container__Warning" *ngIf="warning" [ngClass]="warning['class']">{{warning["text"]}}</div>
    <div class="Form-Container__Fields-Container">
        <div class="Field">
            <input [name]="'email'" required [placeholder]="'Email'" [(ngModel)]="resetPasswordFormGroup.email" #email="ngModel" />
            <span *ngIf="email.invalid && email.touched">
                Обязательное поле.
            </span>
        </div>
    </div>
    <button class="Form-Container__Button" [disabled]="resetPasswordForm.invalid || isLoading">{{isLoading ? "Загрузка..." : "Сбросить"}}</button>
</form>