<form class="Form-Container Login-Form Dialog" #createOfferForm="ngForm" (ngSubmit)="createOffer()">
    <div class="Header">
        <div class="Title">Создание предложения</div>
        <button class="Close" type="button">&times;</button>
    </div>
    <div class="Form-Container__Warning" *ngIf="warning">{{warning}}</div>
    <div class="Form-Container__Fields-Container">
        <div class="Field">
            <select [name]="'define_type_of_request'" required [(ngModel)]="offer.define_type_of_request" #define_type_of_request="ngModel">
                <option value="offers">Предложение помощи</option>
                <option value="requsts">Запрос помощи</option>
                <option value="quastions">Вопрос насчет помощи</option>
            </select>
        </div>
        <div class="Field">
            <input [name]="'title'" required [placeholder]="'Заголовок'" [(ngModel)]="offer.title" #title="ngModel" max_length="64" />
            <span *ngIf="title.errors?.required && title.touched">
                Обязательное поле.
            </span>
            <span *ngIf="title.errors?.max_length && title.touched">
                Максимальная длина - 64 символа.
            </span>
        </div>
        <div class="Field">
            <textarea [name]="'about'" required [placeholder]="'О предложении'" [(ngModel)]="offer.about" #about="ngModel" max_length="1024"></textarea>
            <span *ngIf="about.errors?.required && about.touched">
                Обязательное поле.
            </span>
            <span *ngIf="about.errors?.max_length && about.touched">
                Максимальная длина - 1024 символа.
            </span>
        </div>
        <div class="Field">
            <textarea [name]="'back'" required [placeholder]="'О предложении'" [(ngModel)]="offer.back" #back="ngModel" max_length="1024"></textarea>
            <span *ngIf="back.errors?.required && back.touched">
                Обязательное поле.
            </span>
            <span *ngIf="back.errors?.max_length && back.touched">
                Максимальная длина - 1024 символа.
            </span>
        </div>
        <div class="Field Checkbox">
            <input id="back" type="checkbox" [name]="'back'" [(ngModel)]="offer.is_published" #back="ngModel" max_length="1024" />
            <label for="back">Публичный или нет?</label>
        </div>
    </div>
    <button class="Form-Container__Button" [disabled]="createOfferForm.invalid">{{isLoading ? "Загрузка..." : "Создать"}}</button>
</form>