<ng-container *ngIf="offer">
    <div class="Offer__Title">{{offer.title}}</div>
    <div class="Offer__User">{{offer.user.first_name + " " + offer.user.last_name}}</div>
    <div class="Offer__Subject">{{offer.subject.name}}</div>
    <div class="Offer__About">{{splitText(offer.about)}}</div>
    <div class="Offer__Back">{{splitText(offer.back)}}</div>
    <div class="Offer__Actions">
        <button *ngIf="!userIsEqualAuthor()" class="Item" (click)="open()">Подробнее</button>
        <button *ngIf="!userIsEqualAuthor()" class="Item" (click)="getMutualChat()">Написать</button>
        <button *ngIf="userIsEqualAuthor()" class="Item" (click)="edit()">Отредактировать</button>
        <button *ngIf="userIsEqualAuthor()" class="Item Delete" (click)="delete()">Архивировать</button>
    </div>
</ng-container>