<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дети детям</title>
    <link rel="stylesheet" href="/static/styles.a869ff8613573e64.css">
    {% include "styles.html" %}
</head>

<body>
    <app-root></app-root>
    <script src="/static/runtime.js" defer></script>
    <script src="/static/polyfills.js" defer></script>
    <script src="/static/main.js" defer></script>
    <script src="/static/vendor.js" defer></script>
</body>

</html>